@import "tailwindcss";

body {
  background-color: var(--background);
}

/* Estilos para o tema claro (padrão) */
:root {
  --primary: #3B005E;
  --secondary: #634982;
  --background: #fcefdd;
  --background-2: #ffe3f3;
  --subbackground: #f2dde9;
  --bgcard: #ffd2ec;
  --text: #3B005E;
  --subText: #3B005E;
  --buttonRed: #ff0000;
  --buttonLightRed: #f64848;
}

/* Estilos para o tema escuro */
[data-theme="dark"] {
  --primary: #0083dd;
  --secondary: #00c9b7;
  --background: #1e2939;
  --background-2: #cde0e0;
  --subbackground: #121b2a;
  --bgcard: #121b2a;
  --text: #dcdcdc;
  --subText: #6c6c6c;
  --buttonRed: #ff0000;
  --buttonLightRed: #f64848;
}

.touch-action-none {
  touch-action: none !important;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
