@import "tailwindcss";

/* Estilos para o tema claro (padrão) */
:root {
  --primary: #612f7a;
  --secondary: #634982;
  --background: #fff5ee;
  --text: #612f7a;
}

/* Estilos para o tema escuro */
[data-theme="dark"] {
  --primary: #e9227b;
  --secondary: #e03618;
  --background: #1b1b1b;
  --text: #e9227b;
}
